<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actor</title>
    <style>
        li {
        	padding: 5px
        }
        table{
            width: 40%;
            text-align: center;
        }
    </style>
</head>
<body>
    <ul>
        <li>name: <span id="name"></span></li>
        <li>birthDate: <span id="birthDate"></span></li>
        <li>nationality: <span id="nationality"></span></li>
        <li>Total movies acted in: <span id="tma"></span></li>
    </ul>
    <table>
        <tr>
            <th>Movie</th>
            <th>imdb Rate</th> 
            <th>rating</th> 
            <th>page</th> 
        </tr>
    </table>
</body>
</html>