@import "../../assets/fonts/font/flaticon.css";
@import "../../assets/fonts/vazir-fonts/fonts.css";
@import "../css/whole.css";

.actor-inf {
    display: flex;
    flex-direction: column;
    margin: 40px 50px;
    padding: 5px;
}