@import "../../assets/fonts/font/flaticon.css";
@import "../../assets/fonts/vazir-fonts/fonts.css";

.searchButton {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.search-btn {
    background-color: white !important;
}
.search-icon {
    position: absolute;
}
.sort-box {
    text-align: center;
    color: white !important;
    background-color: #292929 !important;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
}

.sort-box-body {
    background-color: rgba(177, 37, 32, 0.8) !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-img {
    width: 15rem !important;
    height: 15rem !important;
}

.img-container:hover {
    /* filter: grayscale(50%); */
    /* filter: invert(21%) sepa(90%) saturate(3213%) hue-rotate(345deg) brightness(71%) contrast(95%) opacity(40%); */
}